/* Project-wide styles */
* {
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none;
}
.bottomElement {
    margin-bottom: 30px;
}
/* Specific to index.html */
div.centerThis {
    margin: 0;  
    position: relative;
    top: 40%;
}
#indexPage {
    background-color: #ffffff;
    background-attachment: initial;
}
#indexPage:target {
    background-color: #000000;
}
#menu {
    background-color: #f0a000; 
    border-radius: 50px; 
    font-size: 18px;    
    font-weight: bold;  
    height: 100px; 
    left: 50%;  
    margin: -50px 0 0 -30%; 
    opacity: 0.8;           
    position: absolute;
    text-align: center; 
    top: 35%;
    width: 60%; 
}
#menu h1 {
    font-size: 22px;        
    margin: 0;
}
#menu a {
    color: #000000;
    text-decoration: none;
}
#menu a:hover {
    color: #ffffff;
    font-size: 19px;
}
#menu:hover #menuLabel {
    display: none;
}
#menu:hover #dropMenu {
    border-radius: 50px; 
    display: block;
}
#menuLabel h1
{
    font-size: 25px;
}
#dropMenu {
    background-color: #f0a000;  
    display: none;
    height: 300px;           
}
#dropMenu div {
    height: 33.33%;             
}
#opt1:hover {
    background-color: #705A90;      
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;                 
}
#opt2:hover {
    background-color: #C07060;
}
#opt3:hover {
    background-color: #80A070;      
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;   
} 
/* Circles for index.html */
.circles {
    opacity: 0.8;   
    position: absolute; 
} 
#circle1 {
    background-image: url("resources/images/rainbow.gif");   
    background-size: 100%;
    border-radius: 750px;           
    height: 750px;  
    left: 25%;
    top: 90px;
    width: 750px;                           
}   
#circle2 {
    background-image: url("resources/images/ambient_background3.gif");   
    border-radius: 250px;       
    height: 250px;  
    left: 10%;
    top: 200px;
    width: 250px;               
}    
#circle3 {
    background-image: url("resources/images/ambient_background2.gif");       
    background-size: 100%;
    border-radius: 350px;   
    height: 350px;  
    right: 10%;
    top: 20px;
    width: 350px;               
}    
#circle4 { 
    background-image: url("resources/images/ambient_background4.gif");   
    border-radius: 300px;   
    bottom: 40px;   
    height: 300px;  
    left: 50%;
    width: 300px;                   
} 
/* Specifically for aboutme.html */
#aboutMain {
    background-color: #000000;
    border-radius: 25px;
    color: #00f0a0;
    font-size: 18px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    opacity: 0.85;
    padding: 30px;
    position: relative;
    width: 40%;
}
#aboutMain h1 {
    text-align: center;
}
#aboutMain hr {
    color: inherit;
}
#aboutMain p:hover .first{
    color: #ffff00;
    font-size: 20px;
    font-weight: bold;
}
#aboutPage {
    background-attachment: fixed;  
    background-color: #000000;    
    background-image: url("resources/images/kusama.jpg");
    background-size: 100%;
}
/* Specifically for coursework.html */
.circleStyle {
    list-style-type: disc;
}
.taskListContainer {
    background-color: #000000;
    border-radius: 25px;
    color: #00f0a0;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    opacity: 0.85;
    padding: 30px;
    position: relative;
    width: 60%;
}
.taskListContainer a, .taskListContainer hr {
    color: inherit;
}
.taskListContainer a:hover {
    color: #ffff00;
}
.taskListContainer h2 {
    text-align: center;
}
#courseworkPage {
    background-attachment: fixed;  
    background-color: #000000;   
    background-image: url("resources/images/stainedglass.jpg");
    background-size: 100%;
}
/* Specifically for task pages */
.refs {
    word-wrap: break-word;
}
.taskPage {
    background-attachment: fixed;   
    background-color: #000000; 
    background-image: url("resources/images/ambientbackground.gif");
    background-size: 100% 100%;
}
.tasks {
    background-color: #ffffff;
    border-radius: 25px;
    color: #000000;
    font-size: 15px;
    opacity: 0.3; 
    padding: 30px;
    margin: auto;  
    margin-bottom: 30px;
    margin-top: 30px;  
    width: 60%;    
}
.tasks a {
    color: #000000
}
.tasks:hover {
    opacity: 0.9;
}
.tasks p:hover {
    font-weight: bolder;
}
.tasks:hover a {
    color: #6000ff;
    font-weight: bold;
}
.tasks:hover a:hover {
    color: #f000a0;
}
.tasks:hover .questions, .tasks:hover h3 {
    color: #f0a000;
}